.image-icon {
  width: 100%;
  height: 47.938rem;
  position: absolute;
  margin: 0 !important;
  top: 5.188rem;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.input-collector {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 var(--padding-121xl);
  max-width: 100%;
}
.arithmetic-processor,
.homepage,
.input-collector {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.arithmetic-processor {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-121xl);
  max-width: 100%;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-41xl);
  line-height: normal;
  letter-spacing: normal;
}
