.points2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
  font-family: var(--mobile-subtitle);
}
@media screen and (max-width: 1050px) {
  .points2 {
    flex-wrap: wrap;
  }
}
