.fridge1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 51px;
}
.mdifridgeIcon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fridge {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.kettle1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 49px;
}
.mdikettleIcon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.kettle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.coffeeMachine1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 124px;
}
.mdicoffeeMakerIcon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.coffeeMachine {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dishes1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 54px;
}
.mdipotSteamIcon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dishes {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.tVfridgewashingmachine {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
