.apartments-for-rent {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 2.75rem;
  font-weight: 700;
  font-family: inherit;
}
.a-truly-global1,
.blank-line1,
.blank-line2,
.furnished-apartment-rentals,
.the-choice-is {
  margin: 0;
}
.a-truly-global-container {
  align-self: stretch;
  position: relative;
  font-size: var(--mobile-subtitle-size);
  line-height: 1.25rem;
}
.apartments-for-rent-in-london-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.integer-morbi-semper {
  position: relative;
  line-height: 2rem;
}
.magnis-congue-neque {
  position: relative;
  font-size: var(--mobile-subtitle-size);
  line-height: 1.25rem;
  display: inline-block;
  max-width: 100%;
}
.text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: calc(100% - 46px);
}
.close-icon {
  height: 1.5rem;
  width: 1.625rem;
  position: relative;
}
.question-1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.massa-massa-nulla {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.nunc-molestie-sit {
  align-self: stretch;
  position: relative;
  font-size: var(--mobile-subtitle-size);
  line-height: 1.25rem;
}
.text3 {
  width: 62.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: calc(100% - 46px);
}
.close-icon1 {
  height: 1.5rem;
  width: 1.625rem;
  position: relative;
}
.question-11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.dignissim-congue-rutrum {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon2 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.vulputate-imperdiet-fusce {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon3 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.sit-rhoncus-rhoncus {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon4 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.vulputate-nisl-non {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon5 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.est-felis-a {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon6 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.eget-nam-accumsan {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon7 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.fermentum-et-semper {
  width: 62.5rem;
  position: relative;
  line-height: 2rem;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.close-icon8 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.a-vulputate-est {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon9 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frequently-asked-questions,
.questions {
  align-self: stretch;
  flex-direction: column;
}
.questions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.frequently-asked-questions {
  font-size: var(--desktop-h4-size);
}
.booking-page-inner,
.frame-parent7,
.frequently-asked-questions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent7 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.booking-page-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-61xl) var(--padding-121xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--desktop-h3-size);
  color: var(--text);
  font-family: var(--mobile-subtitle);
}
@media screen and (max-width: 1250px) {
  .question-9 {
    flex-wrap: wrap;
  }
  .booking-page-inner {
    padding-bottom: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .question-3,
  .question-4,
  .question-5,
  .question-8 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .apartments-for-rent {
    font-size: var(--font-size-10xl);
    line-height: 2.188rem;
  }
  .question-10,
  .question-6,
  .question-7 {
    flex-wrap: wrap;
  }
  .questions {
    gap: var(--gap-xl);
  }
  .frequently-asked-questions {
    gap: var(--gap-11xl);
  }
  .frame-parent7 {
    gap: var(--gap-xl);
  }
  .booking-page-inner {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-40xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .apartments-for-rent {
    font-size: var(--font-size-3xl);
    line-height: 1.625rem;
  }
  .a-vulputate-est,
  .dignissim-congue-rutrum,
  .eget-nam-accumsan,
  .est-felis-a,
  .fermentum-et-semper,
  .integer-morbi-semper,
  .massa-massa-nulla,
  .sit-rhoncus-rhoncus,
  .vulputate-imperdiet-fusce,
  .vulputate-nisl-non {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
}
