.apartmentsForRent {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
}
.aTrulyGlobal,
.blankLine,
.blankLine1,
.furnishedApartmentRentals,
.theChoiceIs {
  margin: 0;
}
.aTrulyGlobalContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-text-regular-size);
  line-height: 20px;
}
.apartmentsForRentInLondonParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.integerMorbiSemper {
  position: relative;
  line-height: 32px;
}
.magnisCongueNeque {
  position: relative;
  font-size: var(--desktop-text-regular-size);
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: calc(100% - 46px);
}
.closeIcon {
  height: 24px;
  width: 26px;
  position: relative;
}
.question1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.massaMassaNulla {
  position: relative;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.nuncMolestieSit {
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-text-regular-size);
  line-height: 20px;
}
.text1 {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: calc(100% - 46px);
}
.closeIcon1 {
  height: 24px;
  width: 26px;
  position: relative;
}
.question11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.dignissimCongueRutrum {
  position: relative;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.closeIcon2 {
  height: 30px;
  width: 30px;
  position: relative;
}
.question3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.vulputateImperdietFusce {
  position: relative;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.closeIcon3 {
  height: 30px;
  width: 30px;
  position: relative;
}
.question4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.sitRhoncusRhoncus {
  position: relative;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.closeIcon4 {
  height: 30px;
  width: 30px;
  position: relative;
}
.question5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.vulputateNislNon {
  position: relative;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.closeIcon5 {
  height: 30px;
  width: 30px;
  position: relative;
}
.question6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.estFelisA {
  position: relative;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.closeIcon6 {
  height: 30px;
  width: 30px;
  position: relative;
}
.question7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.egetNamAccumsan {
  position: relative;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.closeIcon7 {
  height: 30px;
  width: 30px;
  position: relative;
}
.question8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.fermentumEtSemper {
  width: 1000px;
  position: relative;
  line-height: 32px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.closeIcon8 {
  height: 30px;
  width: 30px;
  position: relative;
}
.question9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.aVulputateEst {
  position: relative;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.closeIcon9 {
  height: 30px;
  width: 30px;
  position: relative;
}
.question10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frequentlyAskedQuestions,
.questions {
  align-self: stretch;
  flex-direction: column;
}
.questions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.frequentlyAskedQuestions {
  font-size: var(--desktop-h4-size);
}
.bookingPageInner,
.frameParent,
.frequentlyAskedQuestions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.bookingPageInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-61xl) var(--padding-121xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--desktop-h3-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 1250px) {
  .question9 {
    flex-wrap: wrap;
  }
  .bookingPageInner {
    padding-bottom: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .question3,
  .question4,
  .question5,
  .question8 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .apartmentsForRent {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .question10,
  .question6,
  .question7 {
    flex-wrap: wrap;
  }
  .questions {
    gap: var(--gap-xl);
  }
  .frequentlyAskedQuestions {
    gap: var(--gap-11xl);
  }
  .frameParent {
    gap: var(--gap-xl);
  }
  .bookingPageInner {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-40xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .apartmentsForRent {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .aVulputateEst,
  .dignissimCongueRutrum,
  .egetNamAccumsan,
  .estFelisA,
  .fermentumEtSemper,
  .integerMorbiSemper,
  .massaMassaNulla,
  .sitRhoncusRhoncus,
  .vulputateImperdietFusce,
  .vulputateNislNon {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
