.while-loop {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-91xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--desktop-h1-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 1200px) {
  .while-loop {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .while-loop {
    gap: var(--gap-36xl);
  }
}
@media screen and (max-width: 450px) {
  .while-loop {
    gap: var(--gap-8xl);
  }
}
