.frequently-asked-questions2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 3.375rem;
  font-weight: 700;
  font-family: inherit;
}
.dignissim-congue-rutrum1 {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon11 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-31 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.vulputate-imperdiet-fusce1 {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon12 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-41 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.sit-rhoncus-rhoncus1 {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon13 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-51 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.vulputate-nisl-non1 {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon14 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-61 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.est-felis-a1 {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon15 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-71 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.eget-nam-accumsan1 {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon16 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-81 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.fermentum-et-semper1 {
  width: 62.5rem;
  position: relative;
  line-height: 2rem;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.close-icon17 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-91 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.a-vulputate-est1 {
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.close-icon18 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.question-101 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.questions1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--desktop-h4-size);
}
.frequently-asked-questions1,
.output-formatter,
.questions1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frequently-asked-questions1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-41xl);
}
.output-formatter {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-61xl) var(--padding-61xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--desktop-h2-size);
  color: var(--text);
  font-family: var(--mobile-subtitle);
}
@media screen and (max-width: 1200px) {
  .question-91 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .question-31,
  .question-41,
  .question-51,
  .question-81 {
    flex-wrap: wrap;
  }
  .output-formatter {
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frequently-asked-questions2 {
    font-size: var(--font-size-19xl);
    line-height: 2.688rem;
  }
  .question-101,
  .question-61,
  .question-71 {
    flex-wrap: wrap;
  }
  .questions1 {
    gap: var(--gap-xl);
  }
  .frequently-asked-questions1 {
    gap: var(--gap-11xl);
  }
  .output-formatter {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frequently-asked-questions2 {
    font-size: var(--font-size-10xl);
    line-height: 2rem;
  }
  .a-vulputate-est1,
  .dignissim-congue-rutrum1,
  .eget-nam-accumsan1,
  .est-felis-a1,
  .fermentum-et-semper1,
  .sit-rhoncus-rhoncus1,
  .vulputate-imperdiet-fusce1,
  .vulputate-nisl-non1 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
}
