.corporate-partnerships1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 3.375rem;
  font-weight: 700;
  font-family: inherit;
}
.we-work-with1 {
  margin: 0;
  white-space: pre-wrap;
}
.booking-manager-that1 {
  margin: 0;
}
.we-work-with-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 1.5rem;
}
.before-parent,
.corporate-partnerships-parent,
.frame-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.before-parent,
.frame-section {
  flex-direction: row;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-section {
  flex-direction: column;
  gap: var(--gap-41xl);
  text-align: center;
  font-size: var(--desktop-h2-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 1200px) {
  .before-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .corporate-partnerships1 {
    font-size: var(--font-size-19xl);
    line-height: 2.688rem;
  }
  .frame-section {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 450px) {
  .corporate-partnerships1 {
    font-size: var(--font-size-10xl);
    line-height: 2rem;
  }
}
