.imageIcon {
  height: 604px;
  width: 1440px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.dictumNunc1 {
  margin: 0;
  width: 305px;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.velMattisInteger {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.buttonBookWithUs {
  align-self: stretch;
  height: 48px;
  font-family: var(--desktop-text-regular);
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--white);
}
.velMattisIntegerPulvinarMoParent {
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.dictumNunc,
.dictumNuncWrapper,
.weRentYourProperty {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.weRentYourProperty {
  border-radius: var(--br-41xl) var(--br-41xl) var(--br-41xl) var(--br-xs);
  background-color: var(--white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-61xl);
  gap: var(--gap-5xl);
  z-index: 1;
}
.dictumNunc,
.dictumNuncWrapper {
  flex-direction: row;
}
.dictumNunc {
  flex: 1;
  justify-content: center;
  padding: var(--padding-105xl) var(--padding-xl) var(--padding-105xl)
    var(--padding-2xl);
  background-image: url(/public/image@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.dictumNuncWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-121xl);
  text-align: left;
  font-size: var(--desktop-h1-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 800px) {
  .dictumNunc1 {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .weRentYourProperty {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .dictumNunc {
    padding-top: var(--padding-62xl);
    padding-bottom: var(--padding-62xl);
    box-sizing: border-box;
  }
  .dictumNuncWrapper {
    padding-bottom: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dictumNunc1 {
    font-size: var(--font-size-12xl);
    line-height: 36px;
  }
  .velMattisIntegerPulvinarMoParent {
    gap: var(--gap-base);
  }
  .weRentYourProperty {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
