.vs {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 44px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 40px;
}
.dataProcessor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-309xl) 0 0;
  text-align: left;
  font-size: var(--desktop-h3-size);
  color: var(--color-black);
}
.parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-60xl-5);
}
.frameParent,
.landlordsPageInner,
.parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1109px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.landlordsPageInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-61xl) var(--padding-12xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--desktop-h4-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 1200px) {
  .parent {
    gap: var(--gap-21xl);
  }
  .frameParent {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 1050px) {
  .landlordsPageInner {
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .vs {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .parent {
    gap: var(--gap-xl);
  }
  .landlordsPageInner {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .vs {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .dataProcessor {
    padding-top: var(--padding-194xl);
    box-sizing: border-box;
  }
}
