.neighbourhood {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-h2-size);
  line-height: 54px;
  font-weight: 700;
  font-family: var(--desktop-text-regular);
  color: var(--text);
  text-align: center;
}
@media screen and (max-width: 1050px) {
  .neighbourhood {
    font-size: var(--font-size-19xl);
    line-height: 43px;
  }
}
@media screen and (max-width: 450px) {
  .neighbourhood {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
}
