.logo-icon2 {
  height: 3.625rem;
  width: 8.125rem;
  position: relative;
  object-fit: cover;
}
.blog1,
.contacts,
.home1,
.landloards {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 3rem;
  cursor: pointer;
}
.blog1,
.contacts,
.landloards {
  min-width: 5.5rem;
}
.blog1,
.contacts {
  min-width: 2.25rem;
}
.contacts {
  min-width: 4.5rem;
}
.menu2 {
  margin: 0;
  width: 22.563rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-20xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
.menu,
.menu1,
.menu2 {
  display: flex;
  max-width: 100%;
}
.menu1 {
  width: 81.25rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.menu {
  align-self: stretch;
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-smi-5) var(--padding-41xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
}
@media screen and (max-width: 750px) {
  .menu2 {
    display: none;
  }
  .menu1 {
    width: 58.688rem;
  }
  .menu {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .menu2 {
    gap: var(--gap-lgi);
  }
}
