.chooseYourLocation {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.shoreditch {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.unsplashkzogdvybHmIcon {
  width: 196px;
  height: 196px;
  border-radius: var(--br-11xl);
  object-fit: cover;
}
.shoreditchParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 192px;
  max-width: 196px;
}
.cityOfLondon {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.unsplashtrpi4zxpaquIcon {
  width: 196px;
  height: 196px;
  border-radius: var(--br-11xl);
  object-fit: cover;
}
.cityOfLondonParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 192px;
  max-width: 196px;
}
.theWestEnd {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.unsplash7aftbn2jo4Icon {
  width: 196px;
  height: 196px;
  border-radius: var(--br-11xl);
  object-fit: cover;
}
.theWestEndParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 192px;
  max-width: 196px;
}
.kensington {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.unsplashu3gtiojlmpgIcon {
  width: 196px;
  height: 196px;
  border-radius: var(--br-11xl);
  object-fit: cover;
}
.kensingtonParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 192px;
  max-width: 196px;
}
.kingstonUponThames {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.unsplash19szvauj7kaIcon {
  width: 196px;
  height: 196px;
  border-radius: var(--br-11xl);
  object-fit: cover;
}
.kingstonUponThamesParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 192px;
  max-width: 196px;
}
.hammersmith {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.unsplashyxlzv4sg4egIcon {
  width: 196px;
  height: 196px;
  border-radius: var(--br-11xl);
  object-fit: cover;
}
.features,
.hammersmithParent {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.hammersmithParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  min-width: 192px;
  max-width: 196px;
}
.features {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 var(--padding-11xs);
  text-align: center;
  font-size: var(--desktop-h4-size);
}
.buttonViewAllSpaces {
  width: 201px;
  height: 48px;
  cursor: pointer;
}
.aWorldOfChoice,
.aWorldOfChoiceWrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.aWorldOfChoice {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-61xl);
  gap: var(--gap-41xl);
}
.aWorldOfChoiceWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-121xl);
  text-align: left;
  font-size: var(--desktop-h2-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 800px) {
  .chooseYourLocation {
    font-size: var(--font-size-19xl);
    line-height: 43px;
  }
  .aWorldOfChoice {
    gap: var(--gap-11xl);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .aWorldOfChoiceWrapper {
    padding-bottom: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .chooseYourLocation {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
  .cityOfLondon,
  .hammersmith,
  .kensington,
  .kingstonUponThames,
  .shoreditch,
  .theWestEnd {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .aWorldOfChoice {
    gap: var(--gap-mini);
  }
}
