.homepageInner,
.images1Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.images1Parent {
  flex: 1;
  justify-content: center;
  row-gap: 20px;
}
.homepageInner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-61xl) var(--padding-121xl);
  box-sizing: border-box;
}
@media screen and (max-width: 1350px) {
  .images1Parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .homepageInner {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-72xl);
    box-sizing: border-box;
  }
}
