.corporate-partnerships1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 3.375rem;
  font-weight: 700;
  font-family: inherit;
}
.we-work-with {
  margin: 0;
  white-space: pre-wrap;
}
.booking-manager-that {
  margin: 0;
}
.we-work-with-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 1.5rem;
}
.titletext4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.evasearch-outline-icon {
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.booking-manager,
.we-do-the {
  width: 20.831rem;
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.we-do-the {
  font-size: var(--mobile-subtitle-size);
  line-height: 1.25rem;
}
.div15 {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--bg1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 19.375rem;
  max-width: 100%;
}
.evaperson-fill-icon {
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.account-manager,
.preferred-partner-rates {
  width: 20.831rem;
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.preferred-partner-rates {
  font-size: var(--mobile-subtitle-size);
  line-height: 1.25rem;
}
.div16 {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--bg1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 19.375rem;
  max-width: 100%;
}
.evafile-text-fill-icon {
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.extend-on-short,
.flexible-terms {
  width: 20.831rem;
  position: relative;
  line-height: 2rem;
  display: inline-block;
  max-width: 100%;
}
.extend-on-short {
  font-size: var(--mobile-subtitle-size);
  line-height: 1.25rem;
}
.div17 {
  flex: 1;
  border-radius: var(--br-11xl);
  background-color: var(--bg1);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 19.375rem;
}
.corporate-partnerships,
.corporate-partnerships-wrapper,
.div17,
.features2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.features2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--desktop-h4-size);
}
.corporate-partnerships,
.corporate-partnerships-wrapper {
  box-sizing: border-box;
}
.corporate-partnerships {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-121xl) var(--padding-61xl) 0;
  gap: var(--gap-41xl);
}
.corporate-partnerships-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-121xl);
  text-align: center;
  font-size: var(--desktop-h2-size);
  color: var(--text);
  font-family: var(--mobile-subtitle);
}
@media screen and (max-width: 800px) {
  .corporate-partnerships1 {
    font-size: var(--font-size-19xl);
    line-height: 2.688rem;
  }
  .corporate-partnerships {
    gap: var(--gap-11xl);
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-72xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .corporate-partnerships-wrapper {
    padding-bottom: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .corporate-partnerships1 {
    font-size: var(--font-size-10xl);
    line-height: 2rem;
  }
  .account-manager,
  .booking-manager,
  .flexible-terms {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .corporate-partnerships {
    gap: var(--gap-mini);
  }
}
