.rhoncusSuspendisse {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 700;
  font-family: inherit;
}
.londonNottingHill {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.apartmentNameLocation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.fluentbed24FilledIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.bedroom1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 77px;
}
.bedroom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.faSolidbathIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.bath1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 45px;
}
.bath,
.bedroomBath {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.bedroomBath {
  gap: var(--gap-xl);
}
.sqftCity {
  position: relative;
  line-height: 20px;
  white-space: pre-wrap;
}
.keyDetails,
.points {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.points {
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-41xl);
  font-size: var(--desktop-text-regular-size);
}
.keyDetails {
  flex-direction: column;
  gap: var(--gap-13xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--desktop-h1-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 1050px) {
  .rhoncusSuspendisse {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
}
@media screen and (max-width: 750px) {
  .points {
    flex-wrap: wrap;
    gap: var(--gap-11xl);
  }
  .keyDetails {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .rhoncusSuspendisse {
    font-size: var(--font-size-12xl);
    line-height: 36px;
  }
}
