.blank-line,
.molestie-amet-pretium,
.ultricies-etiam-sit {
  margin: 0;
}
.ultricies-etiam-sit-container {
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-text-regular-size);
  line-height: 1.25rem;
  text-align: left;
}
.neighbourhood-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  text-align: center;
  font-size: var(--desktop-h2-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 750px) {
  .neighbourhood-parent {
    gap: var(--gap-11xl);
  }
}
