.results {
  line-height: 24px;
}
.for1Bedroom {
  font-size: var(--desktop-text-regular-size);
  line-height: 20px;
}
.resultsFor1Container {
  position: relative;
  z-index: 1;
}
.resultsFor1BedroomPropertWrapper {
  width: 751px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
