.policyDetail2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 700;
  font-family: inherit;
}
.policyDetail1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.houseRules {
  position: relative;
  line-height: 32px;
  display: inline-block;
  min-width: 127px;
}
.evaclockFillIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.checkinTime {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.mapButtonPlus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evaclockFillIcon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.checkoutTime {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.mapButtonPlus1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.foundationnoSmokingIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.noSmoking {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.mapButtonPlus2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.ictwotonePetsIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.noPets {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.mapButtonPlus3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.bxbxsPartyIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.noPartiesOr {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.hourseRules,
.mapButtonPlus4,
.points {
  display: flex;
  justify-content: flex-start;
}
.mapButtonPlus4 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.hourseRules,
.points {
  flex-direction: column;
  align-items: flex-start;
}
.points {
  align-self: stretch;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
}
.hourseRules {
  width: 320px;
  gap: var(--gap-xl);
}
.cancellationPolicy1 {
  position: relative;
  line-height: 32px;
}
.evacloseCircleFillIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.beforeCheckin,
.freeCancellationUp {
  margin: 0;
}
.freeCancellationUpContainer {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 184px;
}
.cancellationPolicy,
.div {
  display: flex;
  align-items: flex-start;
}
.div {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
}
.cancellationPolicy {
  width: 340px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.healthSafty1 {
  position: relative;
  line-height: 32px;
}
.evashieldFillIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.cleanerInAccordance,
.covidSafeCleaning {
  margin: 0;
}
.cleanerInAccordanceContainer {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 194px;
}
.div1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
}
.dataAggregator,
.healthSafty,
.policyDetail {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  gap: var(--gap-xl);
}
.healthSafty {
  width: 340px;
  flex-direction: column;
  justify-content: flex-start;
}
.dataAggregator,
.policyDetail {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--desktop-h4-size);
  color: var(--color-black);
}
.policyDetail {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  text-align: center;
  font-size: var(--desktop-h2-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 1200px) {
  .dataAggregator {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1050px) {
  .policyDetail2 {
    font-size: var(--font-size-19xl);
    line-height: 43px;
  }
}
@media screen and (max-width: 750px) {
  .policyDetail,
  .policyDetail1 {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 450px) {
  .policyDetail2 {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
  .cancellationPolicy1,
  .houseRules {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .div {
    flex-wrap: wrap;
  }
  .healthSafty1 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .div1 {
    flex-wrap: wrap;
  }
}
