.earn-more-from,
.find-out-if {
  position: relative;
  font-family: var(--desktop-text-regular);
  color: var(--text);
  text-align: center;
}
.earn-more-from {
  margin: 0;
  width: 39.25rem;
  font-size: var(--desktop-h1-size);
  line-height: 3.75rem;
  font-weight: 700;
  display: inline-block;
  max-width: 100%;
}
.find-out-if {
  align-self: stretch;
  font-size: var(--font-size-lg);
  line-height: 1.5rem;
}
.titledescription {
  width: 42.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 112%;
  flex-shrink: 0;
}
.input-1-big,
.input-1-big1,
.input-1-big2 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 3.25rem;
  font-family: var(--font-avertacy-regular);
  font-size: var(--desktop-text-regular-size);
  color: var(--bg);
}
.inputs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.property-details2 {
  position: relative;
  font-size: var(--desktop-h4-size);
  line-height: 2rem;
  font-family: var(--desktop-text-regular);
  color: var(--text);
  text-align: left;
}
.input-1-big3,
.input-1-big4 {
  height: 3.25rem;
  width: 17.5rem;
  font-family: var(--font-avertacy-regular);
  font-size: var(--desktop-text-regular-size);
  color: var(--bg);
}
.inputs1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.input-1-big5 {
  align-self: stretch;
  height: 3.25rem;
  font-family: var(--font-avertacy-regular);
  font-size: var(--desktop-text-regular-size);
  color: var(--bg);
}
.form1,
.property-details1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.property-details1 {
  align-self: stretch;
  gap: var(--gap-base);
}
.form1 {
  width: 36.25rem;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.button-1-big {
  width: 8.563rem;
  height: 3rem;
}
.form,
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.main {
  margin: 0;
  align-self: stretch;
  align-items: center;
  padding: 0;
  gap: var(--gap-13xl);
}
.form {
  flex: 1;
  box-shadow: var(--cards);
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-100);
  align-items: flex-start;
  padding: var(--padding-13xl) var(--padding-xl);
  z-index: 1;
}
@media screen and (max-width: 750px) {
  .earn-more-from {
    font-size: var(--font-size-23xl);
    line-height: 3rem;
  }
  .inputs1 {
    flex-wrap: wrap;
  }
  .main {
    gap: var(--gap-base);
  }
  .form {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .earn-more-from {
    font-size: var(--font-size-12xl);
    line-height: 2.25rem;
  }
  .property-details2 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
}
