.frameChild {
  width: 455px;
  height: 264px;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--bg1);
  display: none;
  max-width: 100%;
}
.flexLivingGuaranteed {
  line-height: 32px;
}
.fixedPrice,
.flexLivingGuaranteed,
.monthly {
  position: relative;
  z-index: 1;
}
.fixedPrice {
  margin: 0;
  font-size: inherit;
  line-height: 60px;
  font-weight: 700;
  font-family: inherit;
}
.monthly {
  line-height: 24px;
  display: inline-block;
  min-width: 66px;
}
.monthlyWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  font-size: var(--font-size-lg);
}
.fixedPriceParent,
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fixedPriceParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frameWrapper,
.rectangleParent {
  align-self: stretch;
}
.frameWrapper {
  flex-direction: row;
  padding: 0 var(--padding-22xl) 0 var(--padding-18xl);
  font-size: var(--desktop-h1-size);
}
.rectangleParent {
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--bg1);
  flex-direction: column;
  padding: var(--padding-41xl) var(--padding-40xl) var(--padding-41xl)
    var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.child,
.child1,
.child2,
.ellipseDiv,
.inner,
.item {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--bg);
  display: none;
}
.evacheckmarkFillIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.to5Years {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 93px;
}
.frameGroup {
  width: 125px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmarkFillIcon1 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.freeMaintenance {
  position: relative;
  line-height: 24px;
}
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmarkFillIcon2 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.weeklyCleaning {
  position: relative;
  line-height: 24px;
}
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.evacheckmarkFillIcon3 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.interiorDesign {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 116px;
}
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.evacheckmarkFillIcon4 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.noVoid {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 62px;
}
.frameParent3 {
  width: 94px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmarkFillIcon5 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillWrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 67px;
  white-space: nowrap;
}
.frameParent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-xs);
}
.buttonGetStarted {
  height: 48px;
  width: 171px;
}
.buttonGetStartedWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.div,
.frameDiv,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.div,
.frameDiv {
  box-sizing: border-box;
  max-width: 100%;
}
.frameDiv {
  width: 353px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  font-size: var(--font-size-lg);
}
.div {
  flex: 1;
  box-shadow: -2px -2px 2px rgba(229, 229, 229, 0.5),
    2px 2px 2px rgba(229, 229, 229, 0.5);
  border-radius: var(--br-11xl);
  background-color: var(--white);
  flex-direction: column;
  padding: 0 0 var(--padding-45xl);
  gap: var(--gap-21xl);
  min-width: 296px;
  text-align: center;
  font-size: var(--desktop-h4-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 750px) {
  .fixedPrice {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .div {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .flexLivingGuaranteed {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .fixedPrice {
    font-size: var(--font-size-12xl);
    line-height: 36px;
  }
  .rectangleParent {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .div {
    gap: var(--gap-xl);
  }
}
