.frame-child2 {
  width: 28.438rem;
  height: 16.5rem;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--bg1);
  display: none;
  max-width: 100%;
}
.flex-living-guaranteed {
  line-height: 2rem;
}
.fixed-price,
.flex-living-guaranteed,
.monthly {
  position: relative;
  z-index: 1;
}
.fixed-price {
  margin: 0;
  font-size: inherit;
  line-height: 3.75rem;
  font-weight: 700;
  font-family: inherit;
}
.monthly {
  line-height: 1.5rem;
  display: inline-block;
  min-width: 4.125rem;
}
.monthly-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  font-size: var(--font-size-lg);
}
.fixed-price-parent,
.frame-wrapper4,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fixed-price-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-wrapper4,
.rectangle-group {
  align-self: stretch;
}
.frame-wrapper4 {
  flex-direction: row;
  padding: 0 var(--padding-22xl) 0 var(--padding-18xl);
  font-size: var(--desktop-h1-size);
}
.rectangle-group {
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--bg1);
  flex-direction: column;
  padding: var(--padding-41xl) var(--padding-40xl) var(--padding-41xl)
    var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.child4,
.child5,
.child6,
.child7,
.child8,
.child9 {
  width: 0.75rem;
  height: 0.75rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--bg);
  display: none;
}
.evacheckmark-fill-icon6 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmark-fill-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.to-5-years {
  flex: 1;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 5.813rem;
}
.frame-parent13 {
  width: 7.813rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmark-fill-icon7 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmark-fill-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.free-maintenance {
  position: relative;
  line-height: 1.5rem;
}
.frame-parent14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmark-fill-icon8 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmark-fill-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.weekly-cleaning {
  position: relative;
  line-height: 1.5rem;
}
.frame-parent15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.evacheckmark-fill-icon9 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmark-fill-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.interior-design {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 7.25rem;
}
.frame-parent16 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.evacheckmark-fill-icon10 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmark-fill-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.no-void {
  flex: 1;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 3.875rem;
}
.frame-parent17 {
  width: 5.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmark-fill-icon11 {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmark-fill-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div6 {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 4.188rem;
  white-space: nowrap;
}
.frame-parent18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-xs);
}
.button-get-started {
  height: 3rem;
  width: 10.688rem;
}
.button-get-started-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.div5,
.frame-parent12,
.inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent12 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.div5,
.inner2 {
  box-sizing: border-box;
  max-width: 100%;
}
.inner2 {
  width: 22.063rem;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  font-size: var(--font-size-lg);
}
.div5 {
  flex: 1;
  box-shadow: -2px -2px 2px rgba(229, 229, 229, 0.5),
    2px 2px 2px rgba(229, 229, 229, 0.5);
  border-radius: var(--br-11xl);
  background-color: var(--white);
  flex-direction: column;
  padding: 0 0 var(--padding-45xl);
  gap: var(--gap-21xl);
  min-width: 18.5rem;
  text-align: center;
  font-size: var(--desktop-h4-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 750px) {
  .fixed-price {
    font-size: var(--font-size-23xl);
    line-height: 3rem;
  }
  .div5 {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .flex-living-guaranteed {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .fixed-price {
    font-size: var(--font-size-12xl);
    line-height: 2.25rem;
  }
  .rectangle-group {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .div5 {
    gap: var(--gap-xl);
  }
}
