.frameChild {
  width: 455px;
  height: 264px;
  position: relative;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--bg1);
  display: none;
  max-width: 100%;
}
.highStreetAgents {
  position: relative;
  line-height: 32px;
  z-index: 1;
}
.frameWrapper,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl) 0 var(--padding-15xl-5);
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--bg1);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-41xl) var(--padding-xl) var(--padding-41xl)
    var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.child,
.child1,
.child2,
.ellipseDiv,
.inner,
.item {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  background-color: var(--bg);
  display: none;
}
.evacheckmarkFillIcon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.to12Months {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 121px;
}
.frameGroup {
  width: 153px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmarkFillIcon1 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.noMaintenance {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.frameContainer {
  width: 162px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmarkFillIcon2 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.noWeeklyCleaning {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmarkFillIcon3 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.noInteriorDesign {
  position: relative;
  line-height: 24px;
}
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmarkFillIcon4 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.void {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 63px;
}
.frameParent3 {
  width: 95px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.evacheckmarkFillIcon5 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.evacheckmarkFillWrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 67px;
  white-space: nowrap;
}
.frameParent4 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.div,
.frameDiv,
.frameParent,
.frameParent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.div,
.frameDiv {
  box-sizing: border-box;
}
.frameDiv {
  width: 265px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  font-size: var(--font-size-lg);
}
.div {
  flex: 1;
  box-shadow: -2px -2px 2px rgba(229, 229, 229, 0.5),
    2px 2px 2px rgba(229, 229, 229, 0.5);
  border-radius: var(--br-11xl);
  background-color: var(--white);
  flex-direction: column;
  padding: 0 0 var(--padding-133xl);
  gap: var(--gap-21xl);
  min-width: 296px;
  max-width: 100%;
  text-align: center;
  font-size: var(--desktop-h4-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 750px) {
  .div {
    padding-bottom: var(--padding-80xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .highStreetAgents {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .div {
    gap: var(--gap-xl);
  }
}
