.function {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-61xl) var(--padding-61xl);
  box-sizing: border-box;
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .function {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .function {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
}
