.child {
  height: 188px;
  width: 305px;
  position: relative;
  border-radius: var(--br-41xl) 0 0 var(--br-xs);
  object-fit: cover;
  transform: rotate(-180deg);
  min-height: 188px;
}
.fluentbed24FilledIcon,
.titlesubtitleIcon {
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(-180deg);
}
.titlesubtitleIcon {
  align-self: stretch;
  height: 48px;
  max-width: 100%;
  object-fit: contain;
}
.fluentbed24FilledIcon {
  height: 20px;
  width: 20px;
  position: relative;
}
.bedroom1 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 67px;
}
.bedroom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.faSolidbathIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(-180deg);
}
.bath1 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 40px;
}
.bath {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.evawifiFillIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(-180deg);
}
.wifi1 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 30px;
}
.bedroomBath,
.wifi {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.bedroomBath {
  align-self: stretch;
  padding: 0 var(--padding-74xl) 0 0;
  gap: var(--gap-xl);
}
.cityView {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  white-space: pre-wrap;
}
.points {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-5xs);
  transform: rotate(180deg);
}
.from3490MonthContainer {
  position: relative;
  line-height: 20px;
}
.div,
.div1,
.priceavailability,
.text {
  display: flex;
  justify-content: flex-start;
}
.priceavailability {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
  transform: rotate(180deg);
  font-size: var(--desktop-text-regular-size);
}
.div,
.div1,
.text {
  align-items: flex-start;
}
.div1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-9xs);
  transform: rotate(180deg);
}
.div,
.text {
  box-sizing: border-box;
  max-width: 100%;
}
.text {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-13xl);
  gap: var(--gap-9xs);
  min-width: 271px;
}
.div {
  align-self: stretch;
  border-radius: var(--br-41xl) var(--br-41xl) var(--br-41xl) var(--br-xs);
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  padding: 0 var(--padding-15xl) 0 0;
  row-gap: 20px;
  cursor: pointer;
  text-align: left;
  font-size: var(--desktop-description-size);
  color: var(--text);
  font-family: var(--desktop-text-regular);
}
@media screen and (max-width: 750px) {
  .child {
    flex: 1;
  }
  .bedroomBath,
  .div {
    flex-wrap: wrap;
  }
  .div {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .bedroomBath {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .priceavailability {
    flex-wrap: wrap;
  }
}
