.blocks,
.search-icon,
.search-icon1,
.search-icon2,
.search-icon3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  transform: rotate(180deg);
  max-width: 100%;
}
.blocks {
  text-align: left;
  font-size: var(--mobile-text-regular-size);
  color: var(--text);
  font-family: var(--mobile-subtitle);
}
